@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Content
@model List<AttachmentNewDtoModel>


                <div class="col-md-4" >

                    <div class="col-md-12 panel panel-info">
                        <div class="row margin-bottom">
                            <label for="input_pic" class="btn btn-default fa fa-camera ">  </label>  <label for="input_picgallery" class="btn btn-default fa fa-image ">  </label>
                            <input type="file" style="visibility:hidden;" class="btn btn-success" accept="image/*" id="input_pic" capture />

                            <input type="file" style="visibility:hidden;" class="btn btn-success" accept="image/*" id="input_picgallery" />

                        </div>

                      
                        <div class="row margin-bottom">
                            <img id="imgoutput" style="max-width:100%;max-height:150px" />
                        </div>
                        <div class="row margin-bottom">
                            <a id="btn_ConfirmPic"  class="btn btn-success"   onClick="upload_snapshot()">تایید تصویر</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">

                    @{

                        if (Model != null)
                            @foreach (var item in Model)
                            {
                    <div class="col-md-4 margin-bottom">
                        <div class="image-area">
                            <a href="@item.AttachmentFileAddress" target="_blank">   <img src="@item.AttachmentFileAddress" style="max-width:100%;max-height:150px" /></a>
                            <a class="remove-image"   onclick="deleteUserTempImage('@item.Title')" style="display: inline;">&#215;</a>
                        </div>
                     
                    </div>
                            }

                    }
                </div>
          

    <script>


        $(document).ready(function () {



            const input_pic = document.getElementById('input_pic');
            input_pic.addEventListener('change', (e) => uploadfiles(e.target.files));
       

            const input_picgallery = document.getElementById('input_picgallery');
            input_picgallery.addEventListener('change', (e) => uploadfiles(e.target.files));
            $('#btn_ConfirmPic').hide();
        });
   
        function uploadfiles(fileList) {

            for (let i = 0; i < fileList.length; i++) {
                if (fileList[i].type.match(/^image\//)) {
                    file = fileList[i];
                    break;
                }
            }
            const output = document.getElementById('imgoutput');
            if (file !== null) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgoutput').attr('src', e.target.result);
                }

                reader.readAsDataURL(file);
                $('#btn_ConfirmPic').show();

                //   output.src = URL.createObjectURL(file);
            }
        }

        //Webcam.set({
        //    width: 320,
        //    height: 240,
        //    dest_width: 960,
        //    dest_height: 720,
        //    image_format: 'jpeg',
        //    jpeg_quality: 90

        //});

        //Webcam.attach('#my_camera');

    </script>
