
@model Sude.Dto.DtoModels.Order.OrderEditDtoModel


<form id="frmEdit">
    <link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <link href="~/css/select2.css" rel="stylesheet" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input id="txtOrderId" type="hidden" asp-for="OrderId" class="form-control" />
        <input id="txtWorkId" type="hidden" asp-for="WorkId" class="form-control" />

    </div>

    <section class="content">
        <div class="box box-info bg-gray-light">
            <div class="box-header with-border  text-center">
                <h2 class="box-title">تغییر اطلاعات سفارش خرید شماره @Model.OrderNumber </h2>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="box box-primary  ">
                            <div class="box-header with-border  text-center">
                                <h3 class="box-title">اطلاعات سفارش</h3>
                            </div>
                            <div class="box-body">
                           
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>تاریخ سفارش</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <input id="txtOrderDate" value="@Model.OrderDate.ToLocalizationDateTime("g1")" class="form-control" />
                                                    <input id="OrderDateVal" hidden="hidden" value="@Model.OrderDate" />
                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="row">


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>توضیحات</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <input id="txtDesc" asp-for="Description" class="form-control" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                        </div>
                        <div id="divOrderDetails" class="box box-primary">
                            <div class="box-header with-border  text-center">
                                <h3 class="box-title">اطلاعات جزئیات سفارش خرید</h3>


                            </div>
                            <div class="box-body">
                                <div id="adddetail" class="row">
                                    @*@await Component.InvokeAsync("AddDetail");*@

                                </div>
                                <div class="row" id="odetails"></div>
                            </div>



                        </div>

                        <div class="box box-primary   ">
                            <div class="box-header with-border  text-center">
                                <h3 class="box-title">اطلاعات ثبت تغییرات نهایی سفارش خرید</h3>


                            </div>
                            <div class="box-body">
                                <div class="row">


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a id="btnEditOrder" onclick="EditOrder()" class="btn btn-success col-md-6"><span class="fa fa-check margin-r-5"></span>ثبت تغییرات نهایی سفارش</a>

                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>بازگشت</a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-sm-6">
        <script>
            $('#txtOrderDate').MdPersianDateTimePicker({
                targetTextSelector: '#txtOrderDate',
                targetDateSelector: '#OrderDateVal',
                dateFormat: 'yyyy-MM-dd HH:mm:ss',
                isGregorian: false,
                enableTimePicker: true
            });
        </script>

    </div>


</form>
<script src="~/js/select2.js">
</script>







<script>
    $(document).ready(function () {

        $("#odetails").load("OrderDetail/List");
        $("#adddetail").load("OrderDetail/Add");
        $('#drpCustomers').select2();

    });

    //$(function () {
    //    $.validator.unobtrusive.parse($('#frmEdit'));
    //});
    function EditOrder() {
        $.validator.unobtrusive.parse($('#frmEdit'));
        var isValid = $('#frmEdit').valid();
        if (!isValid)
            return;
        var order = {
            OrderId: $("#txtOrderId").val(),
           WorkId: $("#txtWorkd").val(),
            OrderNumber: $("#txtOrderNumber").val(),
            OrderDate: $("#OrderDateVal").val(),
            Description: $("#txtDesc").val()

        }
        $.ajax({
            url: "OrderBuy/Edit",
            type: "Post",
            data: order
        }).done(function (result) {
            if (result.isSucceed) {
                Command: toastr["success"]("سفارش اصلاح شد");
                $("#myModal").modal("hide");
                $("#orderView").load("Order/List");
            }
            else {
                Command: toastr["warning"](result.message, "هشدار");
            }
        });
    }
    function ToList() {
        $("#orderView").load("Order/List");
    }
</script>