
@model Sude.Dto.DtoModels.Order.OrderNewDtoModel
 

@section Scripts
{
 

  
}
<form id="frmAdd">
    <link href="~/css/jquery.md.bootstrap.datetimepicker.style.css" rel="stylesheet" />
    <script src="~/js/jquery.md.bootstrap.datetimepicker.js"></script>
    <link href="~/css/select2.css" rel="stylesheet" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border  text-center">
                <h2 class="box-title">ثبت سفارش</h2>
            </div>
            <div class="box-body">
                @if (!string.IsNullOrEmpty(Model.WorkId))
                {
                    <div class="row">
                        <div class="col-md-12">

                            <div class="box box-primary">
                                <div class="box-header with-border text-center">
                                    <h3 class="box-title">اطلاعات سفارش</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-6">



                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>خدمات گیرنده</label>
                                                </div>
                                                <div class="input-group  col-md-9">

                                                    <select id="drpCustomers" asp-for="CustomerId"
                                                            class="form-control"
                                                            asp-items="(SelectList)@ViewData[Constants.ViewBagNames.Customers]">
                                                        <option>لطفا یک  خدمات گیرنده انتخاب کنید</option>

                                                    </select>

                                                    <div class="input-group-btn">
                                                        <a id="btnShowSaveNewOrderCustomerForm" onclick="btnShowSaveNewOrderCustomerForm()" class="btn btn-success"><span class="fa fa-plus margin-r-5"></span>جدید</a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>تاریخ سفارش</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input id="txtOrderDate" value="@Model.OrderDate.ToLocalizationDateTime("g1")" class="form-control" />
                                                    <input id="OrderDateVal" hidden="hidden" value="@Model.OrderDate" />
                                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                    <div class="row">
                                      

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>توضیحات</label>
                                                </div>
                                                <div class="col-md-10">
                                                    <input id="txtDesc" asp-for="Description" class="form-control" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="divOrderDetails" class="box box-primary  text-center">
                                <div class="box-header with-border">
                                    <h3 class="box-title">اطلاعات جزئیات سفارش</h3>
                                </div>
                                <div class="box-body">
                                    <div id="adddetail" class="row">                                     

                                    </div>
                                    <div class="row" id="odetails"></div>
                                </div>



                            </div>

                            <div class="box box-primary  text-center">
                                <div class="box-header with-border">
                                    <h3 class="box-title">اطلاعات ثبت نهایی سفارش</h3>


                                </div>
                                <div class="box-body">
                                    <div class="row">


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <a id="btnSaveNewOrder" onclick="SaveNewOrder()" class="btn btn-success col-md-6"><span class="fa fa-check margin-r-5"></span>ثبت نهایی سفارش</a>

                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>بازگشت</a>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                else

                {

                    <div class="row">
                        <div class="col-md-12">
                            <label>لطفا یک کسب و کار انتخاب کنید</label>
                            </div>
                        </div>
                            }


                        </div>
                    </div>
</section>

    <div class="col-sm-6">
        <script>
            $('#txtOrderDate').MdPersianDateTimePicker({
                targetTextSelector: '#txtOrderDate',  
                targetDateSelector:'#OrderDateVal',
                dateFormat: 'yyyy-MM-dd HH:mm:ss',
                isGregorian: false,
                enableTimePicker: true 
            });
        </script>
       
    </div>

</form>
<script src="~/js/select2.js">
</script>

<script>

    $(document).ready(function () {

        


        $("#odetails").load("OrderDetail/List");
        $("#adddetail").load("OrderDetail/Add?servingHasTracking=0&IsActive=1");
        $('#drpCustomers').select2();

    });


    function SaveNewOrder() {
        $.validator.unobtrusive.parse($('#frmAdd'));
        var isValid = $('#frmAdd').valid();
        if (!isValid)
            return;
        var order = {
            OrderNumber: '',
            OrderDate: $("#OrderDateVal").val(),
            Description: $("#txtDesc").val(),
            CustomerId: $("#drpCustomers").val(),
            CustomerName: $("#drpCustomers option:selected").text()

        }
        $.ajax({
            url: "Order/Add",
            type: "Post",
            data: order
        }).done(function (result) {
            if (result.isSucceed) {

                Command: toastr["success"]("سفارش ایجاد شد");


                $("#orderView").load("Order/List");
            }
            else {
                Command: toastr["warning"](result.message, "هشدار");

             
            }
        });
    }
    function ToList() {
        $("#orderView").load("Order/List");
    }

    function btnShowSaveNewOrderCustomerForm() {
        $.get("Customer/AddOrderCustomer", function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("سفارش گیرنده جدید");
            $("#myModalBody").html(result);
            $("#btnClose").click(function () {
                $("#myModal").modal("hide");
            });

            $("#myModal").on('hide.bs.modal', function () {
                SuccessAddCustomer($('#selectedItem').val());
            });
        });

    }
        function SuccessAddCustomer(customerId) {
            if (customerId != "") {

                $.ajax({
                    url: "Customer/GetCurrentCustomers",
                    type: "Get"
                }).done(function (result) {

                    $("#drpCustomers").empty();

                   
                
                    $.each(result, function () {
                        var opt = '<option>';
                      //  if (this.value == customerId)
                       //     opt = '<option selected="selected">';
                        $("#drpCustomers").append(
                            $(opt, {
                                value: this.value
                            }).text(this.text)
                        );
                    });
                    $('#drpCustomers option[value=' + customerId + ']').attr('selected', 'selected');
                   
                  
          

                });
                    

            }
        }
    
</script>