@using Sude.Dto.DtoModels.Result
@using Sude.Dto.DtoModels.Serving
@using Microsoft.AspNetCore.Http;
@model ResultSetDto<IEnumerable<InventoryTypeDetailDtoModel>>
@inject IHttpContextAccessor HttpContextAccessor
@{

    HttpContextAccessor.HttpContext.Session.SetActiveMenuItemSystemName("InventoryType");
    ViewBag.PageTitle = @_SudeSessionContext.GetLocalResourceValue("Page.Title.InventoryTypeManagement");
}
<div id="searchInventoryType">

    <div class="input-group">
        <input type="text"  id="txtSearch" placeholder="Type words ..." oninput="SearchInventory()" class="form-control">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-flat"><span class="fa fa-search margin-r-5"></span><lable>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Search")</lable></button>
        </span>
    </div>


</div>

<div id="InventoryTypeView">
    <div class="col-md-3 text-center"></div>
    <div class="col-md-6 text-center">
        <div class="box box-info">
            <div class="box-header">
                <h3>@_SudeSessionContext.GetLocalResourceValue("Page.Content.GetInventoryTypes")</h3>
            </div>

            <div class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

        </div>

    </div>
    <div class="col-md-3 text-center"></div>
    </div>

    @section Scripts
{

        <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
        <link href="~/Sweetalert2/animate.min.css" rel="stylesheet" />
        <script src="~/Sweetalert2/sweetalert2.min.js"></script>

        <link href="~/AdminLTE/css/toastr.min.css" rel="stylesheet" />
        <script src="~/AdminLTE/js/toastr.min.js"></script>
        <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        </script>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

           

            function SearchInventory() {
             
                var Title = $("#txtSearch").val();

                if (Title.length > 2) {

                    $("#InventoryTypeView").load("InventoryType/List?title=" + Title);
                }
                if (Title.length <= 0)
                    $("#InventoryTypeView").load("InventoryType/List?title=" + Title);
            }
        $(function () {
            $("#InventoryTypeView").load("InventoryType/List");
        });




        </script>

    }

    @section Modals
{
        <!-- Modal -->
     
        <!--End Modal -->
    }
