@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sude.Mvc.UI.Admin.Models.LoginViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>@_SudeSessionContext.GetLocalResourceValue("Page.Message.Warning")</title>
    <link rel="stylesheet" href="~/AdminLTE/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="~/AdminLTE/css/skins/skin-red.min.css">
    <link rel="stylesheet" href="~/AdminLTE/css/rtl.css">
    <!-- iCheck -->
    <script src="~/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/AdminLTE/plugins/iCheck/icheck.min.js"></script>
   


    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Sweetalert2/animate.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>
    <link href="~/AdminLTE/css/toastr.min.css" rel="stylesheet" />
    <script src="~/AdminLTE/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

    </script>


</head>
<body class="hold-transition login-page">
    <div id="loginorregister">


    </div>

    <script>



        $(function () {

            $("#loginorregister").load("Login/Login");

            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>

    <!-- /.login-box -->
    <!-- jQuery 3 -->

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
</body>

</html>