@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sude.Mvc.UI.Admin.Models.RegisterViewModel
@{
    Layout = null;
}



    <div class="register-box bg-red-gradient">
        <div class="register-logo">
            <h4>   <a href="/">مدیریت کسب و کار</a></h4>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">ثبت نام کاربر @_SudeSessionContext.GetLocalResourceValue("Page.Button.New")</p>

            <form id="frmRegister">
                <div class="form-group has-feedback">
                    <input type="tel" class="form-control" id="txtPhone" asp-for="Phone" placeholder="شماره موبایل">
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" asp-for="Name" id="txtName" class="form-control" placeholder="نام">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group has-feedback">
                   
                    <input type="password" asp-for="Password" id="txtPassword" class="form-control" placeholder="کلمه عبور">
                    <span class="fa fa-key form-control-feedback"></span>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="txtConfirmPassword" placeholder="تکرار کلمه عبور">
                    <span class="fa fa-key form-control-feedback"></span>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <a onclick="Register()" id="btnRegister" class="btn btn-primary btn-block btn-flat">ثبت نام</a>

                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center margin">
                        <a id="btnLogin" class="btn btn-default text-center">کاربر سامانه هستم</a>
                    </div>
                </div>
            </form>



        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    <script>

        function Register() {

            $.validator.unobtrusive.parse($('#frmRegister'));

            var isValid = $('#frmRegister').valid();
            if (!isValid)
                return;
            $("#btnRegister").html(
                '<i class="fa fa-refresh fa-spin  margin-r-5"></i> @_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") نام...'
            );

            var register = {
                Name: $("#txtName").val(),
                Username: $("#txtUserName").val(),
                Email: $("#txtEmail").val(),
                Password: $("#txtPassword").val(),
                ConfirmPassword: $("#txtConfirmPassword").val(),
                Phone: $("#txtPhone").val()

            }

            $.ajax({
                url: "Login/Register",
                type: "Post",
                data: register
            }).done(function (result) {
                if (result.isSucceed) {

                  
                    $("#loginorregister").load("Login/Login");
                    Command: toastr["success"]("کاربر ایجاد شد", "@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") نام");

                }
                else {

                    $("#btnRegister").html(
                        '@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create") نام'
                    );

                    Command: toastr["warning"](result.message, "هشدار");
                }
            });
        }



        $("#btnLogin").click(function () {

            $("#loginorregister").load("Login/Login");
        });
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
