@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sude.Mvc.UI.Admin.Models.RegisterViewModel
@{
    Layout = null;
}
 
    <div class="register-box bg-red-gradient">
        <div class="register-logo">
            <a href="/">مدیریت کسب و کار</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">ثبت نام کاربر جدید</p>

            <form id="frmRegister">
                <div class="form-group has-feedback">
                    <input type="text" asp-for="Name" id="txtName" class="form-control" placeholder="نام">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" asp-for="Username" id="txtUserName" class="form-control" placeholder="نام">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="tel" class="form-control" id="txtPhone" asp-for="Phone" placeholder="تلفن">
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" id="txtEmail" asp-for="Email" placeholder="ایمیل">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" asp-for="Password" id="txtPassword" class="form-control" placeholder="کلمه عبور">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" id="txtConfirmPassword" placeholder="تکرار کلمه عبور">
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <a onclick="Register()" class="btn btn-primary btn-block btn-flat">ثبت نام</a>

                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <div class="row">
                    <div class="col-md-12 text-center margin">
                        <a id="btnLogin" class="text-center">کاربر سامانه هستم</a>
                    </div>
                </div>
            </form>

        
   
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    
    <script>

        function Register() {
 
            $.validator.unobtrusive.parse($('#frmRegister'));

            var isValid = $('#frmRegister').valid();
            if (!isValid)
                return;
      
            var register = {
                Name: $("#txtName").val(),
                Username: $("#txtUserName").val(),
                Email: $("#txtEmail").val(),
                Password: $("#txtPassword").val(),    
                ConfirmPassword: $("#txtConfirmPassword").val(),
                Phone: $("#txtPhone").val()
       
            }

            $.ajax({
                url: "Login/Register",
                type: "Post",
                data: register
            }).done(function (result) {
                if (result.isSucceed) {

                    Command: toastr["success"]("کاربر ایجاد شد", "ثبت نام");
                    $("#loginorregister").load("Login/Login");


                }
                else {

                    Command: toastr["warning"](result.message, "هشدار");
                }
            });
        }



        $("#btnLogin").click(function () {
            
            $("#loginorregister").load("Login/Login");
        });
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
 