@model IEnumerable<Sude.Dto.DtoModels.Content.BlogDetailDtoModel>
@if (Model != null && Model.Count() > 0)
{

<div dir="rtl" class="col-md-12">
    <div class="col-md-12 text-center">
        <div class="text-center col-md-12">
            <h3>مقالات</h3>
        </div>




        <div class="row">



            @foreach (Sude.Dto.DtoModels.Content.BlogDetailDtoModel item in Model)
            {


                <div class="col-lg-4 col-md-6">
                    <div class="feature-1 text-center">
                        <div>

                            <h5 class="mb-0 bg-gray"><a href="Blog/@item.UrlBlog">@item.Title</a></h5>
                            <div>
                                <span class="text-sm">@item.StartDate.ToLocalizationDateTime("D")</span>
                            </div>


                        </div>
                        <div class="feature-1-content col-md-12">
                            <div class="col-md-12 text-center">  @Html.Raw(item.ShortBody)</div>
                            <div class="date">    <a class="btn btn-outline-primary" href="Blog/@item.UrlBlog">ادامه مقاله</a></div>
                          
                        </div>
 

                    </div>




                </div>



            }

        </div>
        <div class="col-12 text-center">
          
                <h4>  <a href="Blog">آرشیو مقالات</a></h4>
           
        </div>
    </div>
</div>
}