<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <menuNode SystemName="Home" Resource="Admin.Home" controller="Home" url="Home" action="">
    <menuNode SystemName="Dashboard" Resource="پیشخوان" controller="Home" action="" url="Home" IconClass="fa-desktop" />
    <menuNode SystemName="SystemManagement" Resource="مدیریت سیستم"  IconClass="fa-gear" >
      <menuNode SystemName="InventoryType" Resource="مدیریت انواع موجودی" url="InventoryType" PermissionNames="ManageInventoryType" controller="InventoryType" action="" IconClass="fa-dot-circle-o"/>
		<menuNode SystemName="WorkType" Resource="مدیریت انواع کسب و کار" url="WorkType" PermissionNames="ManageWorkType" controller="WorkType" action="" IconClass="fa-dot-circle-o"/>
		<menuNode SystemName="News" Resource="مدیریت اخبار" PermissionNames="ManageNews" url="News" controller="News" action="" IconClass="fa-dot-circle-o"/>
		<menuNode SystemName="Blog" Resource="مدیریت مقالات" PermissionNames="ManageBlog" url="Blog" controller="Blog" action="" IconClass="fa-dot-circle-o"/>
    
    </menuNode>

	  <menuNode SystemName="WorkManagement" Resource="کسب و کار"  IconClass="fa-cubes" >
		  <menuNode SystemName="Work" Resource="مدیریت کسب و کار" url="Work" PermissionNames="ManageWork" controller="Work" action="" IconClass="fa-dot-circle-o"/>
		  <menuNode SystemName="Serving" Resource="مدیریت اقلام و خدمات" url="Serving" PermissionNames="ManageServing" controller="Serving" action="" IconClass="fa-dot-circle-o"/>
		  <menuNode SystemName="Order" Resource="مدیریت سفارشات" PermissionNames="ManageOrder" url="Order" controller="Order" action="" IconClass="fa-dot-circle-o"/>
		  
	  </menuNode>
	  
	  
    
  </menuNode>
</menu>

