<?xml version="1.0" encoding="utf-8" ?>
<Users>
	<UserInfo id="ca6638a1-7309-41ca-9b76-d68daff8c0cd" name="Bamdad" password="Bamdad@123" phoneNumber="0912" userName="Bamdad" email="B@b.com"></UserInfo>
	<UserInfo id="9536FE5A-EFFF-48EE-92C3-9A0396799575" name="User1" password="User1@123" phoneNumber="0912" userName="User1" email="B1@b.com"></UserInfo>
	<UserInfo id="8052F14C-2116-4278-8FAF-659C24F6D1E1" name="User2" password="User2@123" phoneNumber="0912" userName="User2" email="B2@b.com"></UserInfo>
	<UserInfo id="5A3F375C-53B0-4177-923B-9D09C15018AD" name="User3" password="User3@123" phoneNumber="0912" userName="User3" email="B3@b.com"></UserInfo>
</Users>

