<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.PageTitle</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <partial name="AdminLTE/_Styles" />
    <partial name="AdminLTE/_Scripts" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition skin-red sidebar-mini">
    @if (_SudeSessionContext.CurrentUser != null)
    {
        <div class="wrapper">

            <!-- Header -->
            <partial name="AdminLTE/_TopNavigation" />

            <!-- right side column. contains the logo and sidebar -->
            <partial name="AdminLTE/_MainNavigation" />

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header bg-text-line">
                    <h1>
                        @ViewBag.PageTitle

                    </h1>

                </section>

                <!-- Main content -->
                <section class="content">

                    @RenderBody()

                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <footer class="main-footer text-left">
                <strong>Copyleft &copy; 2020 <a href="https://bamdadcomputer.com">BamdadComputer</a></strong>
            </footer>

            <!-- Control Sidebar -->
            @*<partial name="AdminLTE/_ControlSideBar" />*@

            <!-- /.control-sidebar -->
            <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
            <div class="control-sidebar-bg"></div>
        </div>
        <!-- ./wrapper -->

        @await RenderSectionAsync("Scripts", required: false)

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center  bg-red-gradient">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-center" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body" id="myModalBody">

                    </div>
                </div>
            </div>
        </div>


    }
    else
    {
        <script>
            location.replace("Login");
        </script>

    }
    @await RenderSectionAsync("Modals", required: false)
</body>
</html>
