@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="input-group col-md-12">
    <input id="txtDefaultWorkName" onclick="ShowSetDefaultWork()" class="form-control fa-mouse-pointer" readonly="readonly" value="@ViewData["CurrentWorkName"]" />

    <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle"    onclick="ShowSetDefaultWork()" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
    </div>

</div>

@*
    <li class="dropdown">

        <select id="drpWorks"
                class="form-control"
                asp-items="(SelectList)@ViewData["Works"]">
            <option>یک کسب و کار انتخاب کنید</option>

        </select>

    </li>
*@



<script>

 

    function ShowSetDefaultWork()
    {
  
        $.get("Work/ViewWorks/" , function (result) {
            $("#myModal").modal('show');
            $("#myModalLabel").html("انتخاب کسب و کار");
            $("#myModalBody").html(result);

        });

    }

</script>