@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Sude.Dto.DtoModels.Order.OrderDetailDetailDtoModel
@*<div asp-validation-summary="ModelOnly" class="text-danger">

    </div>*@
 
<form id="frmAddDetail">

    <div class="col-md-4">



        <div class="form-group">
            <label>خدمت</label>
            <select id="drpServing" asp-for="ServingId"
                    class="form-control" onchange="UpdatePriceControl()"
                    asp-items="(SelectList)@ViewData["Servings"]">
                <option>Please select serving</option>

            </select>

        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>مبلغ</label>
            <input id="txtPrice" asp-for="Price" type="number" class="form-control" value="" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label>تعداد</label>
            <input id="txtCount" asp-for="Count" type="number" class="form-control" value="" />
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>


    </div>

    <div class="col-md-2">
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label>  </label>
            <a id="btnSaveNewOrder" onclick="SaveNewOrderDetail()" class="btn btn-success"><span class="fa fa-plus margin-r-5"></span>افزودن به لیست</a>

        </div>
    </div>

    </form>





    <script src="~/js/select2.js">
    </script>
    <script>
        $("input[type='number']").on("focus", function () {
            $(this).select();
        });
        $(document).ready(function () {

            $('#drpServing').select2();

        });

        function UpdatePriceControl() {



            $("#txtCount").val(1);
            $("#txtPrice").val($("#drpServing").val().split("##")[2]);
        }

        function SaveNewOrderDetail() {

            $.validator.unobtrusive.parse($('#frmAddDetail'));
            var isValid = $('#frmAddDetail').valid();
            if (!isValid)
                return;
            var orderDetail = {
                Price: $("#txtPrice").val(),
                Count: $("#txtCount").val(),
                ServingId: $("#drpServing").val().split("##")[0],
                ServingName: $("#drpServing").val().split("##")[1]
            }
            $.ajax({
                url: "OrderDetail/Add",
                type: "Post",
                data: orderDetail
            }).done(function (result) {
                if (result.isSucceed) {
                    Command: toastr["success"]("جزئیات سفارش اضافه شد")
                    $("#odetails").load("OrderDetail/List");
                }
                else {
                    Command: toastr["warning"](result.message, "هشدار")
                }
            });
        }

    </script>

