
@model Sude.Dto.DtoModels.Work.WorkTypeEditDtoModel
 
<form id="frmEdit">
    <div class="form-group">
        <input id="txtWorkTypeId" type="hidden" asp-for="WorkTypeId" class="form-control" />
    </div>
   
                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="control-label">عنوان</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtTitle" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2">
                        <label class="control-label">توضیحات</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtDesc" asp-for="Desc" class="form-control" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>
                </div>


           

                <div class="form-group row" style="text-align:center">
                    <div class="col-md-6">
                        <a id="btnEditWorkType" onclick="EditWorkType()" class="btn btn-success"><span class="fa fa-check margin-r-5"></span>ثبت</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>بازگشت</a>
                    </div>
                </div>

      

</form>



<script>
        $(function () {
            $.validator.unobtrusive.parse($('#frmEdit'));
        });
        function EditWorkType() {
            $.validator.unobtrusive.parse($('#frmEdit'));
            var isValid = $('#frmEdit').valid();
            if (!isValid)
                return;
            var WorkType = {
                WorkTypeId: $("#txtWorkTypeId").val(),
                Title: $("#txtTitle").val(),
                Desc: $("#txtDesc").val()
            }
            $.ajax({
                url: "WorkType/Edit",
                type: "Post",
                data: WorkType
            }).done(function (result) {
                if (result.isSucceed) {
                    Command: toastr["success"]("اطلاعات نوع کسب و کار اصلاح شد");
                    $("#myModal").modal("hide");
                    $("#WorkTypeView").load("WorkType/List");
                }
                else {
                    Command: toastr["warning"](result.message, "هشدار");
                }
            });
        }
        function ToList() {
              $("#myModal").modal("hide");
        }
</script>