
@model Sude.Dto.DtoModels.Work.WorkEditDtoModel

 
<form id="frmEdit">
  
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="txtWorkId" type="hidden" asp-for="WorkId" class="form-control" />
            </div>
    
 
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="control-label">عنوان</label>
                            </div>
                            <div class="col-md-10">
                                <input id="txtTitle" asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="control-label">توضیحات</label>
                            </div>
                            <div class="col-md-10">
                                <input id="txtDesc" asp-for="Desc" class="form-control" />
                                <span asp-validation-for="Desc" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="control-label">نوع</label>
                            </div>
                            <div class="col-md-10">

                                <select id="drpTypes" asp-for="WorkTypeId"
                                        class="form-control"
                                        asp-items="(SelectList)@ViewData["WorkTypes"]">
                                </select>

                            </div>
                        </div>


               

                        <div class="form-group row" style="text-align:center">
                            <div class="col-md-6">
                                <a id="btnEditWork" onclick="EditWork()" class="btn btn-success">ثبت</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-default" onclick="ToList()">بازگشت</a>
                            </div>
                        </div>

              


</form>



    <script>

        $(function () {
           $.validator.unobtrusive.parse($('#frmEdit'));
        });

        function EditWork() {
            $.validator.unobtrusive.parse($('#frmEdit'));

            var isValid = $('#frmEdit').valid();
            if (!isValid)
                return;
            var Work = {
                WorkId: $("#txtWorkId").val(),
                Title: $("#txtTitle").val(),
                Desc: $("#txtDesc").val(),              
                WorkTypeId: $("#drpTypes").val()
            }

            $.ajax({
                url: "Work/Edit",
                type: "Post",
                data: Work
            }).done(function (result) {
                if (result.isSucceed) {
                    Command: toastr["success"]("اطلاعات کسب و کار اصلاح شد");
                    $("#myModal").modal("hide");
                    $("#WorkView").load("Work/List");

                }
                else {
                    Command: toastr["warning"](result.message, "هشدار");
                }
            });
        }

        function ToList() {
            $("#myModal").modal("hide");
        }


    </script>
