<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.SitePageTitle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/HomePageTemplate/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/HomePageTemplate/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/AdminLte/css/AdminLTE.css" />
    <link rel="stylesheet" href="/HomePageTemplate/css/jquery-ui.css">
    <link rel="stylesheet" href="/HomePageTemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/HomePageTemplate/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/HomePageTemplate/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/HomePageTemplate/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/HomePageTemplate/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/HomePageTemplate/css/bsnav.min.css">

    <link rel="stylesheet" href="/HomePageTemplate/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/HomePageTemplate/css/aos.css">
    <link href="/HomePageTemplate/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/HomePageTemplate/css/style.css">





</head>

<body>

    <div class="site-wrap">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="~/HomePageTemplate/images/logo.png" />

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div dir="rtl" class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-right">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Blog">مقالات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Home">مدیریت کسب و کار</a>
                    </li>
                </ul>
            </div>
        </nav>


        @RenderBody()



        <div class="site-section ftco-subscribe-1" style="background-image: url('HomePage')">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <h2>مشترک خبرنامه ما شوید!</h2>
                        <p>جدیدترین اخبار و مقالات ما را دریافت کنید.</p>
                    </div>
                    <div class="col-lg-5">
                        <form action="" class="d-flex">
                            <input type="text" class="rounded form-control mr-2 py-3" placeholder="ایمیل خود را وارد کنید">
                            <button class="btn btn-primary rounded py-3 px-4" type="submit">دریافت خبرنامه</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mb-4"><img src="/HomePageTemplate/images/logo.png" alt="Image" class="img-fluid"></p>
                        <p>بامداد کامپیوتر پیشرو در حوزه نرم افزار</p>
                        <p><a href="#">بیشتر بخوانید</a></p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>راه کارها</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">حمل و نقل</a></li>
                            <li><a href="#">حوزه مالی</a></li>
                            <li><a href="#">رشد کسب و کار</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>خدمات</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">حمل و نقل</a></li>
                            <li><a href="#">حوزه مالی</a></li>
                            <li><a href="#">رشد کسب و کار</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>تماس با ما</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">مرکز خدمات</a></li>
                            <li><a href="#">انجمن پشتیبانی</a></li>
                            <li><a href="#">اخبار</a></li>
                            <li><a href="#">مقالات</a></li>
                            <li><a href="#">درباره ما</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="copyright">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- .site-wrap -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>

    <script src="/HomePageTemplate/js/jquery-3.3.1.min.js"></script>
    <script src="/HomePageTemplate/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/HomePageTemplate/js/jquery-ui.js"></script>
    <script src="/HomePageTemplate/js/popper.min.js"></script>
    <script src="/HomePageTemplate/js/bootstrap.min.js"></script>
    <script src="/HomePageTemplate/js/owl.carousel.min.js"></script>
    <script src="/HomePageTemplate/js/jquery.stellar.min.js"></script>
    <script src="/HomePageTemplate/js/jquery.countdown.min.js"></script>
    <script src="/HomePageTemplate/js/bootstrap-datepicker.min.js"></script>
    <script src="/HomePageTemplate/js/jquery.easing.1.3.js"></script>
    <script src="/HomePageTemplate/js/aos.js"></script>
    <script src="/HomePageTemplate/js/jquery.fancybox.min.js"></script>
    <script src="/HomePageTemplate/js/jquery.sticky.js"></script>
    <script src="/HomePageTemplate/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="/HomePageTemplate/js/bsnav.min.js"></script>

    <script src="/HomePageTemplate/js/main.js"></script>

    <script type="text/javascript">
        /// some script

        // jquery ready start
        $(document).ready(function () {
            // jQuery code


            $("[data-trigger]").on("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                var offcanvas_id = $(this).attr('data-trigger');
                $(offcanvas_id).toggleClass("show");
                $('body').toggleClass("offcanvas-active");
                $(".screen-overlay").toggleClass("show");
            });

            // Close menu when pressing ESC
            $(document).on('keydown', function (event) {
                if (event.keyCode === 27) {
                    $(".mobile-offcanvas").removeClass("show");
                    $("body").removeClass("overlay-active");
                }
            });

            $(".btn-close, .screen-overlay").click(function (e) {
                $(".screen-overlay").removeClass("show");
                $(".mobile-offcanvas").removeClass("show");
                $("body").removeClass("offcanvas-active");


            });


        }); // jquery end
    </script>


</body>

</html>