
@using Sude.Dto.DtoModels.Serving
@model  InventoryTypeEditDtoModel
    <hr />
<h4>ویرایش واحد اندازه گیری</h4>
<hr />
<form id="frmEdit">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="txtInventoryTypeId" type="hidden" asp-for="InventoryTypeId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="txtTitle" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input id="txtDesc" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a id="btnEditInventoryType" onclick="EditInventoryType()" class="btn btn-warning">تغییر</a>
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-accent-2" onclick="ToList()">بازگشت</a>
    </div>
</form>



    <script>

        $(function () {
           $.validator.unobtrusive.parse($('#frmEdit'));
        });

        function EditInventoryType() {
            $.validator.unobtrusive.parse($('#frmEdit'));

            var isValid = $('#frmEdit').valid();
            if (!isValid)
                return;
            var InventoryType = {
                InventoryTypeId: $("#txtInventoryTypeId").val(),
                Title: $("#txtTitle").val(),
                Description: $("#txtDesc").val()
            }

            $.ajax({
                url: "/InventoryType/Edit",
                type: "Post",
                data: InventoryType
            }).done(function (result) {
                if (result.isSucceed) {
                    swal.fire({
                        icon: "success",
                    });
                    $("#InventoryTypeView").load("/InventoryType/List");
                    //$("#tr_" + InventoryType.InventoryTypeId).addClass("danger");
                    //$("#tr_" + InventoryTypeId).hide('slow');
                }
                else {
                    swal.fire({
                        title: 'هشدار',
                        text: result.message,
                        icon: 'warning',
                    });
                }
            });
        }

        function ToList() {
            $("#InventoryTypeView").load("/InventoryType/List");
        }


    </script>
