@model Sude.Dto.DtoModels.Serving.ServingEditDtoModel

<h4>ویرایش خدمات</h4>
<hr />
<form id="frmEdit">
    <div class="row">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="txtServingId" type="hidden" asp-for="ServingId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input id="txtTitle" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input id="txtPrice" asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input id="txtDesc" asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a id="btnEditServing" onclick="EditServing()" class="btn btn-warning">تغییر</a>
            </div>
        </div>
    </div>

    <div>
        <a class="btn btn-accent-2" onclick="ToList()">بازگشت</a>
    </div>
</form>



    <script>

        $(function () {
           $.validator.unobtrusive.parse($('#frmEdit'));
        });

        function EditServing() {
            $.validator.unobtrusive.parse($('#frmEdit'));

            var isValid = $('#frmEdit').valid();
            if (!isValid)
                return;
            var serving = {
                ServingId: $("#txtServingId").val(),
                Title: $("#txtTitle").val(),
                Price: $("#txtPrice").val(),
                Desc: $("#txtDesc").val()
            }

            $.ajax({
                url: "/Serving/Edit",
                type: "Post",
                data: serving
            }).done(function (result) {
                if (result.IsSucceed) {
                    swal.fire({
                        icon: "success",
                    });
                    $("#servingView").load("/Serving/List");
                    //$("#tr_" + serving.ServingId).addClass("danger");
                    //$("#tr_" + servingId).hide('slow');
                }
                else {
                    swal.fire({
                        title: 'هشدار',
                        text: result.message,
                        icon: 'warning',
                    });
                }
            });
        }

        function ToList() {
            $("#servingView").load("/Serving/List");
        }


    </script>
