
@model Sude.Dto.DtoModels.Order.OrderNewDtoModel
<hr />
<h4>افزودن سفارش</h4>
<hr />

@section Scripts
{

    <link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Sweetalert2/sweetalert2.min.js"></script>

}
    <form id="frmAdd">
        <link href="~/css/select2.css" rel="stylesheet" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <section class="content">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">اطلاعات سفارش</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">

                        <div class="col-md-6">



                            <div class="form-group">
                                <label>Customer</label>

                                <select id="drpCustomers" asp-for="CustomerId"
                                        class="form-control"
                                        asp-items="(SelectList)@ViewData["Customers"]">
                                    <option>Please select customer</option>

                                </select>


                            </div>

                            <div class="form-group">
                                <label asp-for="OrderNumber"></label>

                                <input id="txtOrderNumber" asp-for="OrderNumber" class="form-control" />
                                <span asp-validation-for="OrderNumber" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="OrderDate"></label>

                                <input id="txtOrderDate" asp-for="OrderDate" class="form-control" />
                                <span asp-validation-for="OrderDate" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <label asp-for="Description"></label>

                                <input id="txtDesc" asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div id="divOrderDetails" class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">اطلاعات جزئیات سفارش</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="adddetail" class="row">
                        @*@await Component.InvokeAsync("AddDetail");*@

                    </div>
                    <div class="row" id="odetails"></div>
                </div>



            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">اطلاعات ثبت نهایی سفارش</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <a id="btnSaveNewOrder" onclick="SaveNewOrder()" class="btn btn-success col-md-8">ثبت نهایی سفارش</a>
                                @*@await Component.InvokeAsync("AddDetail");*@
                            </div>

                            <div class="form-group">

                                <a class="btn btn-accent-2" onclick="ToList()">بازگشت</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>

            </div>
        </section>
    </form>
    <script src="~/js/select2.js">
    </script>

    <script>

        $(document).ready(function () {


            $("#odetails").load("/OrderDetail/List");
            $("#adddetail").load("/OrderDetail/Add");
            $('#drpCustomers').select2();

        });


        function SaveNewOrder() {
            $.validator.unobtrusive.parse($('#frmAdd'));
            var isValid = $('#frmAdd').valid();
            if (!isValid)
                return;
            var order = {
                OrderNumber: $("#txtOrderNumber").val(),
                OrderDate: $("#txtOrderDate").val(),
                Description: $("#txtDesc").val(),
                CustomerId: $("#drpCustomers").val()

            }
            $.ajax({
                url: "/Order/Add",
                type: "Post",
                data: order
            }).done(function (result) {
                if (result.isSucceed) {
                    swal.fire({
                        icon: "success",
                    });
                    $("#orderView").load("/Order/List");
                }
                else {
                    swal.fire({
                        title: 'هشدار',
                        text: result.message,
                        icon: 'warning',
                    });
                }
            });
        }
        function ToList() {
            $("#orderView").load("/Order/List");
        }
    </script>