
@model Sude.Dto.DtoModels.Content.BlogEditDtoModel


<script src="~/lib/tinymce/tinymce.min.js"></script>
<form id="frmEdit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input id="txtBlogId" type="hidden" asp-for="BlogId" class="form-control" />
    </div>

    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">ویرایش مقاله</h3>

            </div>
            <div class="box-body">

                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Title" class="control-label">عنوان</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtTitle" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="ShortBody" class="control-label">متن کوتاه</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="txtShortBody" asp-for="ShortBody" class="form-control"></textarea>
                        <span asp-validation-for="ShortBody" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="FullBody" class="control-label">متن کامل</label>
                    </div>
                    <div class="col-md-10">
                        <textarea id="txtFullBody" asp-for="FullBody" type="text" class="form-control"></textarea>
                        <span asp-validation-for="FullBody" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Description" class="control-label">توضیحات</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtDescription" asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-2">
                        <label>
                            <input id="chkIsActive" type="checkbox" asp-for="IsActive" /> فعال
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>
                            <input id="chkIsPublish" type="checkbox" asp-for="IsPublish" />منتشر شده
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label>
                            <input id="chkAllowComment" type="checkbox" asp-for="AllowComment" /> مجوز ثبت نظرات
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">

                        <label asp-for="MetaTitle" class="control-label">عنوان متا</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtMetaTitle" asp-for="MetaTitle" class="form-control" />
                        <span asp-validation-for="MetaTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="MetaKeywords" class="control-label">کلمات کلیدی متا</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtMetaKeywords" asp-for="MetaKeywords" class="form-control" />
                        <span asp-validation-for="MetaKeywords" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="MetaDescription" class="control-label">توضیحات متا</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtMetaDescription" asp-for="MetaDescription" class="form-control" />
                        <span asp-validation-for="MetaDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="Tags" class="control-label">تگ ها</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtTags" asp-for="Tags" class="form-control" />
                        <span asp-validation-for="Tags" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="StartDate" class="control-label">تاریخ شروع</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtStartDate" asp-for="StartDate" class="form-control" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                        <label asp-for="EndDate" class="control-label">تاریخ پایان</label>
                    </div>
                    <div class="col-md-10">
                        <input id="txtEndDate" asp-for="EndDate" class="form-control" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-6">
                        <a id="btnEditBlog" onclick="EditBlog()" class="btn btn-success"><span class="fa fa-check margin-r-5"></span>ویرایش مقاله</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default" onclick="ToList()"><span class="fa fa-arrow-left margin-r-5"></span>بازگشت</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</form>



<script>

    $(function () {
        $.validator.unobtrusive.parse($('#frmEdit'));


    });
    //(function ($) {
    //    "use strict";
    //    $(document).ready(function () {
    //        tinymce.init({
    //            selector: 'textarea'
    //        });

    //    });
    //})(this.jQuery);
       $(document).ready(function () {
             var defaultShortBodyEditorSettings =
             {
                 selector: "#txtShortBody",
            fontsize_formats: "8pt 9pt 10pt 11pt 12pt 26pt 36pt",
            height: 200,
            width: '100%',
            autoresize_min_height: 200,
            autoresize_max_height: 200,
            plugins: [
                "advlist autolink autoresize directionality lists link image charmap preview anchor",
                "searchreplace visualblocks code fullscreen textcolor",
                "insertdatetime media table contextmenu paste@(true ? " fullpage" : null)"
            ],
            toolbar: "ltr rtl | insertfile undo redo | styleselect | fontselect | fontsizeselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            relative_urls: false,

            entity_encoding: "raw"


        };





                 var defaultFullBodyEditorSettings =
             {
                     selector: "#txtFullBody",
            fontsize_formats: "8pt 9pt 10pt 11pt 12pt 26pt 36pt",
            height: 200,
            width: '100%',
            autoresize_min_height: 200,
            autoresize_max_height: 200,
            plugins: [
                "advlist autolink autoresize directionality lists link image charmap preview anchor",
                "searchreplace visualblocks code fullscreen textcolor",
                "insertdatetime media table contextmenu paste@(true ? " fullpage" : null)"
            ],
            toolbar: "ltr rtl | insertfile undo redo | styleselect | fontselect | fontsizeselect | bold italic | forecolor backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            relative_urls: false,

            entity_encoding: "raw"


    };



    tinyMCE.init(defaultShortBodyEditorSettings);

    tinyMCE.init(defaultFullBodyEditorSettings);
       });

    function EditBlog() {
        $.validator.unobtrusive.parse($('#frmEdit'));

        var isValid = $('#frmEdit').valid();
        if (!isValid)
            return;
        var blog = {
            BlogId: $("#txtBlogId").val(),
            Title: $("#txtTitle").val(),
            Description: $("#txtDescription").val(),
            ShortBody: tinyMCE.get('txtShortBody').getContent(),
            FullBody: tinyMCE.get('txtFullBody').getContent(),
            MetaTitle: $("#txtMetaTitle").val(),
            MetaKeywords: $("#txtMetaKeywords").val(),
            MetaDescription: $("#txtMetaDescription").val(),
            Tags: $("#txtTags").val(),
            StartDate: $("#txtStartDate").val(),
            EndDate: $("#txtEndDate").val(),
            IsActive: $("#chkIsActive").is(":checked"),
            AllowComment: $("#chkAllowComment").is(":checked"),
            IsPublish: $("#chkIsPublish").is(":checked")
        }

        $.ajax({
            url: "Blog/Edit",
            type: "Post",
            data: blog
        }).done(function (result) {
            if (result.isSucceed) {
                Command: toastr["success"]("اطلاعات مقاله اصلاح شد");
                $("#myModal").modal("hide");
                $("#blogView").load("Blog/List");

            }
            else {
                Command: toastr["warning"](result.message, "هشدار");
            }
        });
    }

    function ToList() {
        $("#myModal").modal("hide");
    }


</script>
