@model Sude.Dto.DtoModels.Serving.ServingDetailDtoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>

<div>
 
    <dl class="row">

        <dt class="col-md-4">
            عنوان
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Title)
        </dd>
        </dl>
    <dl class="row">
        <dt class="col-md-4">
            قیمت
        </dt>
        <dd class="col-md-8">
            @Model.Price.ToString("0,0")
        </dd>
        </dl>
    <dl class="row">
        <dt class="col-md-4">
            کسب و کار
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.WorkName)
        </dd>
        </dl>
    <dl class="row">
        <dt class="col-md-4">
            توضیحات
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        </dl>
    <dl class="row">
        <dt class="col-md-4">
            رهگیری موجودی
        </dt>
        <dd class="col-md-8">
            @if (Model.HasInventoryTracking)
                                {
            <span class="label label-success">دارد</span>
                                }
                                else
                                {
            <span class="label label-danger">ندارد</span>

                                }
        </dd>
        </dl>
        <dl class="row">
            <dt class="col-md-4">
                امکان عرضه و فروش
            </dt>
            <dd class="col-md-8">
                @if (Model.IsActive)
                                {
                <span class="label label-success">دارد</span>
                                }
                                else
                                {
                <span class="label label-danger">ندارد</span>

                                }
            </dd>

        </dl>
</div>
 
</body>
</html>
