@model Sude.Mvc.UI.Admin.Models.ChangePasswordViewModel
<form id="frmEditPassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">

            <input type="hidden" asp-for="userId" id="txtUserId" />
            <div class="form-group">
                <label class="control-label">کلمه عبور</label>
                <input id="txtCurrentPassword" type="password" asp-for="currentPassword" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">کلمه عبور جدید</label>
                <input id="txtPassword" asp-for="password" type="password"  class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">تکرار کلمه عبور جدید</label>
                <input id="txtConfirmPassword" asp-for="confirmPassword" type="password"  class="form-control" />

            </div>
            <div class="form-group">
                <a id="btnChangePassword" onclick="ChangeUserPassword()" href="#" class="btn btn-default">ذخیره</a>
            </div>

        </div>
    </div>
</form>

        <script>

            function ChangeUserPassword() {
               

                var cp = {
                    currentPassword: $("#txtCurrentPassword").val(),
                    password: $("#txtPassword").val(),
                    confirmPassword: $("#txtConfirmPassword").val(),
                    userId: $("#txtUserId").val()
                }
        
                $.ajax({
                    url: "User/ChangePassword",
                    type: "Post",
                    data: cp
                }).done(function (result) {
                    if (result.isSucceed) {
                        Command: toastr["success"]("کلمه عبور اصلاح شد");
                        $("#myModal").modal('hide');
                    }
                    else {
                        Command: toastr["warning"](result.message, "هشدار");
                    }
                });
            }
        </script>
