

@model Sude.Dto.DtoModels.Account.CustomerNewDtoModel
 
<form id="frmAddNewCustomer">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">



            </div>
            <div class="box-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row margin-bottom">

                    <div class="col-md-3">
                        <label class="control-label">@_SudeSessionContext.GetLocalResourceValue("Page.Content.Title")</label>
                    </div>
                    <div class="col-md-9">
                        <input id="txtTitle" asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="row margin-bottom">
                    <div class="col-md-3">
                        <label class="control-label">شناسه ملی</label>
                    </div>
                    <div class="col-md-9">
                        <input id="txtNationalCode" asp-for="NationalCode" class="form-control" />
                        <span asp-validation-for="NationalCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-md-3">
                        <label class="control-label">تلفن</label>
                    </div>
                    <div class="col-md-9">
                        <input id="txtPhone" asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

                <div class="row margin-bottom">
                    <div class="col-md-6">
                        <a id="btnSaveNewCustomer" onclick="SaveNewOrderCustomer()" class="btn btn-success col-md-8"><span class="fa fa-check margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Create")</a>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-default" onclick="Back()"><span class="fa fa-arrow-left margin-r-5"></span>@_SudeSessionContext.GetLocalResourceValue("Page.Button.Back")</a>
                    </div>

                </div>
            </div>
        </div>

     
    </section>
</form>
    <script>



        function SaveNewOrderCustomer() {
     
            $.validator.unobtrusive.parse($('#frmAddNewCustomer'));
      
            var isValid = $('#frmAddNewCustomer').valid();
            if (!isValid)
                return;
       
            var customer = {
                Title: $("#txtTitle").val(),
                NationalCode: $("#txtNationalCode").val(),
                Phone: $("#txtPhone").val(),
                WorkId:''
            }
          
            $.ajax({
                url: "Customer/AddOrderCustomer",
                type: "Post",
                data: customer
            }).done(function (result) {
                if (result.isSucceed) {
                    Command: toastr["success"]("اطلاعات خدمات گیرنده اضافه شد");
                    //  $("#WorkView").load("Customer/List");
               
                    $('#selectedItem').val(result.data.customerId); 
                    $("#myModal").modal("hide");
                }
                else {
                    Command: toastr["warning"](result.message, "هشدار");
                }
            });
        }
        function Back() {
            $("#myModal").modal("hide");
        }


      

    </script>
