<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <partial name="SiteHomePageLayout/_Styles" />
    <partial name="SiteHomePageLayout/_Scripts" />
</head>
<body>
    <partial name="SiteHomePageLayout/_Header" />
    <div>

        @RenderBody()
    </div>
</body>
</html>
