@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Sude.Dto.DtoModels.Order.OrderDetailDetailDtoModel
@*<div asp-validation-summary="ModelOnly" class="text-danger">

    </div>*@

<div class="col-md-6">



    <div class="form-group">
        <label>خدمت</label>
        <select id="drpServing" asp-for="ServingId"
                class="form-control"
                asp-items="(SelectList)@ViewData["Servings"]">
            <option>Please select serving</option>

        </select>

    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label asp-for="Price"></label>
        <input id="txtPrice" asp-for="Price" type="number" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label asp-for="Count"></label>
        <input id="txtCount" asp-for="Count" type="number"  class="form-control" />
        <span asp-validation-for="Count" class="text-danger"></span>
    </div>


</div>
<div class="col-md-2">
    <div class="form-group">
       <label>  </label>
            <a id="btnSaveNewOrder" onclick="SaveNewOrderDetail()" class="btn btn-success">ذخیره</a>
       
    </div>
</div>
 






<script src="~/js/select2.js">
</script>
<script>
    $(document).ready(function () {

        $('#drpServing').select2();
        $("#odetails").load("/OrderDetail/List");
    });


    function SaveNewOrderDetail() {
        $.validator.unobtrusive.parse($('#frmAdd'));
        var isValid = $('#frmAdd').valid();
        if (!isValid)
            return;
        var orderDetail = {
            Price: $("#txtPrice").val(),
            Count: $("#txtCount").val(),
            ServingId: $("#drpServing").val(),
            ServingName: $("#drpServing").val()
        }
        $.ajax({
            url: "/OrderDetail/Add",
            type: "Post",
            data: orderDetail
        }).done(function (result) {
            if (result.isSucceed) {
                swal.fire({
                    icon: "success",
                });
                $("#odetails").load("/OrderDetail/List");
            }
            else {
                swal.fire({
                    title: 'هشدار',
                    text: result.message,
                    icon: 'warning',
                });
            }
        });
    }
    function ToList() {
        $("#odetails").load("/OrderDetail/List");
    }
</script>

